// animated site-nav
.site-nav {
  display: block;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: clip;

  &.nav-open {
    display: block;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }

  @include mq(md) {
    max-height: none;
    transition: 0s;

    &.nav-open {
      max-height: none;
      transition: 0s;
    }
  }
}

// animated main-header
.main-header {
  display: block;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: clip;

  @include mq(md) {
    max-height: none;
    transition: 0s;
  }

  &.nav-open {
    display: block;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;

    @include mq(md) {
      max-height: none;
      transition: 0s;
    }
  }
}

// animated nav-list-item for root pages
.site-nav > .nav-list {
  overflow: clip;
  .nav-list-item {
    .nav-list {
      display: block;
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }

    &.active {
      .nav-list {
        display: block;
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
    }
  }
}

// animated nav-list-item for child pages
.site-nav > .nav-list > .nav-list-item > .nav-list {
  .nav-list-item {
    .nav-list {
      display: block;
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }

    &.active {
      .nav-list {
        display: block;
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
    }
  }
}

// animated menu button
.site-button {
  display: grid;
  .icon {
    transition: 0.5s;
    transform: scale(1);
    grid-column-start: 1;
    grid-row-start: 1;
    &.site-button-alt {
      transform: scale(0);
    }
  }

  &.nav-open {
    .icon {
      transform: scale(0);
      &.site-button-alt {
        transform: scale(1);
      }
    }
  }
}
