// use larger fonts
code {
  font-size: 0.825rem !important; // a little bit larger than font-size-3

  @include mq(sm) {
    font-size: $font-size-4 !important;
  }
}

:not(pre, figure) > code {
  padding: 0.15em 0.15em;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
  font-weight: var(--base-text-weight-semibold, 600);
}

.main-content {
  // use larger fonts for list indices.
  ol {
    > li {
      &::before {
        top: 0em;
        left: -1.45em;
        content: counter(step-counter)".";
        @include fs-4;

        @include mq(sm) {
          top: 0em;
        }
      }
    }
  }

  // move the dots to right a little.
  ul {
    > li {
      &::before {
        margin-left: -1.3em;
      }
    }
  }

  line-height: $content-line-height-sm;
  @include mq(sm) {
    line-height: $content-line-height;
  }

  // expand margins after the h tags
  h1 {
    margin-bottom: 0.4em;
    @include mq(sm) {
      margin-bottom: 0.6em;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.6em;
    @include mq(sm) {
      margin-bottom: 0.8em;
    }
  }
}

// icon buttons
.btn-icon {
  background-color: rgba(0, 0, 0, 0);
  color: $body-text-color;
  align-items: center;
  box-shadow: none;

  .icon {
    color: $body-text-color;
    pointer-events: none;
    align-items: center;
    transform: scale(1);
    transition: all 0.3s;
  }

  &:focus {
    box-shadow: none;
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: none;
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    background-color: rgba(0, 0, 0, 0);
    .icon {
      color: $link-color;
    }
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    .icon {
      transform: scale(0.6);
      transition: all 0.3s;
    }
  }
}

// the main navigator
.nav-list {
  .nav-list-item {

    > .nav-list {
      .nav-list-item {
        a.nav-list-link {
          color: $link-color;
        }

        .nav-list-expander {
          color: $link-color;
        }
      }
    }
  }
}

// change the layout of site-footer a little bit
.site-footer {
  text-align: right;
  padding: 0.5rem 1rem 1rem 1rem;
  @include mq(md) {
    text-align: center;
    padding: 1rem 0.5rem;
  }
}

// Add tool version and subtitle to header
.site-title {
  display: table;
}

.site-main-title {
  font-weight: var(--base-text-weight-semibold, 600);
}

.site-version {
  @include fs-3;
  padding-left: 0.3rem;
}

.site-subtitle {
  @include fs-2;
  display: table-row;
}


@import "./animated_menu.scss";
