// font sizes
code {
  font-size: $font-size-4;
}

// theme toggle button
.btn-theme {
  background-color: rgba(0, 0, 0, 0);
  color: $body-text-color;
  padding: 0.4em;
  margin: 0.5em;
  line-height: 1.5;
  font-size: $font-size-6;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: none;
  }

  .material-symbols-outlined {
    transform: scale(1);
    transition: all 0.3s;
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;

    .material-symbols-outlined {
      transform: scale(0.6);
      transition: all 0.3s;
    }
  }
}

// the main navigator
.nav-list {
  .nav-list-item {
    > .nav-list {
      .nav-list-item {
        a.nav-list-link {
          color: $link-color;
        }

        .nav-list-expander {
          color: $link-color;
        }
      }
    }
  }
}
